<launch>

  <arg name="model"/>
  <arg name="uri" default="radio://0/100/2M/0xE7E7E7E7E7" />
  <arg name="cmd_frequency" default="30" />
  <arg name="sim" default="0"/>



  <group ns="$(arg model)">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch"
      unless="$(arg sim)">
      <arg name="uri" value="$(arg uri)" />
      <arg name="tf_prefix" value="$(arg model)" />
      <arg name="enable_logging" value="False" />
    </include>



    <node pkg="gmodrotor_control" type="omni_force.py" name="controller"/>
    <node pkg="gmodrotor_control" type="omni_vel.py" name="velcontroller"/>

    <!-- <node pkg="gmodrotor_control" type="test_waypoint.py" name="waypoint"/> -->


    <!-- Simulation -->
    <node pkg="gmodrotor_sim" type="motorforce.py" name="motors" if="$(arg sim)"/>


  </group>
</launch>
